.telaLogin {    
    height: 100%;
    display: flex;    
    width: 100%; 
    background-color: rgb(23, 118, 206);
}
.telaLogin {
   flex-direction: column;
   align-items: center;
   justify-content: center;

}



.formulario {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 420px;
    background-color: rgb(27, 123, 139);
    color: black;
    font-size: large;
    text-align: center;
    padding: 10px;
    border-style: groove;
    border-radius: 5px;

        
}

.titulo {
    background-color: aliceblue;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border-style: groove;
    border-color: black;
    font-size: x-large;
}
 
.emailLogin {
    width: 100%;

}

.textEmail {
    font-size: x-large;
}

.labelEmail{
    width: 100%;
    border-radius: 5px;
}

.senhaLogin {
    padding-top: 10px;
}

.textSenha {
    font-size: x-large;
}

.labelSenha{
    width: 100%;
    border-radius: 5px;    
}

.botaoLogin {
    list-style-type: circle;
    animation-direction: alternate-reverse;
    width: 100%;
    padding-top: 20px;
    border-style: hidden;
    border-radius: 10px;
    border-color: black;    
}

.textBotao {
    width: 50%;
    border-style: hidden;
    border-radius: 10px;
    
}

.link {
    font-size: x-large;
    padding: 20px;
    text-align:center;
    color: rgb(0, 0, 0);
}

.textLink{
    color: rgb(252, 252, 252);
    
}